.sidebar{
    background-color:white;
    width: 66px;
    height: 100vh;
    border: 2px solid #80808087;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.main-page{
    margin: auto;
    background-color: white;
    width: 550px;
    height: 500px;
}
.itens-page{
    margin: auto;
    background-color: white;
    width: 550px;
    height: 500px;
}
.text-sm{
    font-size: 12px;
}
.bg-gray{
    background-color:#07111B;
}
.box-shadow{
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.1);
}
.box-shadow-sidebar{
    box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.1);
}
.btn-req{
    background-color: #9BC3B8;
}
/* .bg-black {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;
} */