.sidebar{
    /* background-color:#006CB0; */
    background-color:white;
    width: 66px;
    height: 100vh;
    border: 2px solid #80808087;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.main-page{
    margin: auto;
    background-color: white;
    width: 500px;
    height: 500px;
}
.itens-page{
    margin: auto;
    background-color: white;
    width: 500px;
    height: 500px;
}
.text-sm{
    font-size: 12px;
}
.bg-purple{
    background-color:#07111B;
}
/* .bg-black {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;
} */